body { 
  padding : 30px;
}

.App {
  margin : 0 auto;
  width:500px;
}

.App > section { 
  background-color: lightgray;
  padding:20px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid black;
}